@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200&family=Exo:wght@200&family=Titillium+Web:wght@300&display=swap');
body{
  margin:0;
  padding:0;
  box-sizing:border-box;
  background-color:#F7F6F6;
  color:black;
  font-family:'Titillium Web', sans-serif;
  font-weight:bold;
}
/* font-family: 'Changa', sans-serif;
font-family: 'Exo', sans-serif;
font-family: 'Titillium Web', sans-serif; */
/* tabib4545? <script src="https://kit.fontawesome.com/bcfa79726e.js" crossorigin="anonymous"></script> kit*/
/* header start */
.container{
  width:80%;
  margin: auto;
  padding:0 5px;
  margin-bottom:30px;
}
.header {
  display:flex;
  flex-direction:row;
  align-items:center;
  font-family: 'Changa', sans-serif;
}
.header > div{
  width:50%;
}
.head-write{
  font-size:1.5rem;
}
.nav-menu {
  text-align:right;
}
.nav-menu a{
  text-decoration:none;
  font-size:1.3rem;
  margin:0 5px;
  color:black;
}
/* header end */

/* main start */
.main-one{
  display:flex;
  flex-grow:row;
  align-items:center;
}
.main-one > div{
  width:50%;
}
.home-write{
  font-size:1.2rem;
}
.home-write-heading{
  font-size:3rem;
}
.first-button{
  background-color:#F74680;
  color:white;
  padding:12px 30px;
  border-radius:80px;
  border:none;
  font-size:1rem;
  font-weight:bold;
}
.button-icon{
  margin-left:5px;
}
.home-img{
  text-align:right;
  transition:0.5s;
}
.home-img:hover{
  transform:scale(1.2);
}

/* Logo section start */
.brand-logo{
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  padding:30px 5px;
  text-align:center;
}
/* logo-border{
  box-shadow:0 1.5px gray, 0 -1.5px gray;
  padding:5px 5px;
} */
.brand-logo img{
  margin:0 3%;
}
/* Logo section end */

/* cart section start */
.card-heading{
  text-align:center;
  margin-bottom:25px;
  font-size: 1.6rem;
}
.card-wrapper {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}
.card{
  text-align:center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding:15px;
  text-align: left;
}
.card img{
  width:100%;
}
span{
  color:#A80205;
}
.card-last{
  text-align:right;
  color:#FC2D19;
}
/* cart section end */

/* last section start */
.last-section{
  display:flex;
  flex-direction:row;
  align-items:center;
  background-color:#C0E0DC;
  color:white;
  padding:50px;
  border-radius:8px;
}
.last-section > div > h3{
  color:white;
}
.last-section > div{
  background-color:#7D7771;
  width:30%;
  height:250px;
  margin:5px;
  padding:10px;
  border-radius:10px;
  text-align: center;
}
.last-section > div > p{
  text-align: justify;
}
.last-span{
  color:#23F21C;
  margin-left: 5px;
}

.comment{
  width:90%;
  height:130px;
  border-radius: 5px;
  border:none;
  padding:10px;
  font-size:1.2rem;
}
.last-button{
  border:none;
  background-color: #BA0105;
  color:white;
  padding:5 10px;
  margin: 5px;
  width:80px;
  height:30px;
  font-size:1.1rem;
  border-radius:10px;
  float:right;
}

/* last section end */

/* main end */

/* footer start */
.footer{
  background-color:black;
  color:white;
  text-align: center;
  padding: 10px 0;
  font-family:monospace;
}
.footer > span{
  color:white;
  margin: 0 10px;
  font-size:2rem;
}
/* footer end */


/* for Laptop */
@media screen and (max-width:1133px){
  /* header start */
  .container{
    width:100%;
    margin: auto;
    padding:0 15px;
    margin-bottom:15px;
  }
  .header > div{
    width:50%;
  }
  .head-write{
    font-size:1.2rem;
  }
  .nav-menu a{
    font-size:1.1rem;
    margin:0 3px;
  }
  /* header end */

  /* main start */
  .main-one > div{
    width:50%;
  }
  .home-write{
    font-size:1.1rem;
  }
  .home-write-heading{
    font-size:2.5rem;
  }

  /* Logo section start */
  /* logo-border{
    box-shadow:0 1.5px gray, 0 -1.5px gray;
    padding:5px 5px;
  } */
  .brand-logo img{
    margin:0 2.5%;
  }
  /* Logo section end */

  /* cart section start */
  .card-heading{
    text-align:center;
    margin-bottom:15px;
    font-size: 1.2rem;
  }
  .card-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
  .card{
    padding:10px;
  }
  /* cart section end */

  /* last section start */
  .last-section{
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding:5px;
    border-radius:4px;
  }

  .last-section > div{
    width:70%;
    height:300px;
  }

  /* last section end */
  /* main end */

}

/* for Mobile */
@media screen and (max-width:700px){
  /* header start */
  .container{
    width:100%;
    margin: auto;
    padding:0 8px;
    margin-bottom:15px;
  }
  .header > div{
    width:100%;
  }
  .head-write{
    font-size:1.1rem;
  }
  /* header end */

  /* main start */
  .main-one{
    display:flex;
    flex-direction:column;
  }
  .main-one > div{
    width:100%;
  }
  .home-write-heading{
    font-size:1rem;
  }
  /* cart section start */
  .card-heading{
    text-align:center;
    margin-bottom:10px;
    font-size: 1.4rem;
  }
  .card-wrapper {
    display:grid;
    grid-template-columns: 1fr;
    grid-column-gap:8px;
  }

  /* cart section end */

  /* last section start */
  .last-section{
    display:flex;
    flex-direction:column;
    padding:10px;
    border-radius:8px;
  }
  .last-section > div{
    width:90%;
  }
  
  /* footer end */
}
